<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncBridge.Net35" version="0.2.0" targetFramework="net35" />
  <package id="Extended.Wpf.Toolkit" version="3.0" targetFramework="net35" />
  <package id="JetBrains.Annotations" version="10.4.0" targetFramework="net35" />
  <package id="System.Tuples" version="1.0.0" targetFramework="net35" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net35" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net35" />
</packages>